[user]
	name = Dmitriy Khayzin
	email = dkhayzin@mdsol.com
[core]
	excludesfile = /Users/dkhayzin/.gitignore_global
[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate -20
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	filelog = log -u
	dl = "!git ll -1" # diff in files between commits
	f = "!git ls-files | grep -i" # find a file path
	alias = "!git config -l | grep alias | cut -c 7-"
	cp = cherry-pick
	st = status
	cl = clone
	ci = commit
	co = checkout
	br = branch 
	diff = diff --word-diff
	dc = diff --cached
	prune-merged = "!f() { git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d; }; f"
	dev-branch = "!f() { git checkout develop && git pull; }; f"
	make-branch = "!f() { git checkout develop && git pull && git checkout -b $1; }; f"
	up = "!git push origin HEAD"
